@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #000000;
  --accent: #0d9488;
  --accent-red: #E8001D;
}

html {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
}
